<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanhuada.platform.dao.PlatformCircleTopicMapper">
    <select id="findByName" resultType="com.yanhuada.model.CircleTopic">
        select * from circle_topic where circle_id = #{circleId} and name = #{name}
    </select>

    <select id="list" resultType="com.yanhuada.model.CircleTopic">
        select *
        from circle_topic
        <where>
            <if test="circleId != null">
                and circle_id = #{circleId}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%', #{name} , '%')
            </if>
            <if test="publishStatus != null">
                and publish_status = #{publishStatus}
            </if>
        </where>
    </select>
</mapper>
