<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanhuada.client.dao.ClientUserMapper">

    <select id="selectByOpenId" parameterType="java.lang.String" resultMap="com.yanhuada.dao.mapper.UserMapper.BaseResultMap">
        select u.* from user u where open_id = #{openId}
    </select>

    <select id="selectByPhone" parameterType="java.lang.String" resultMap="com.yanhuada.dao.mapper.UserMapper.BaseResultMap">
        select u.* from user u where phone = #{phone}
    </select>
</mapper>
