<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanhuada.client.dao.ClientSystemMessageRecordMapper">
    <select id="list" resultType="com.yanhuada.model.SystemMessageRecord">
        select *
        from system_message_record
        where user_id = #{userId}
        order by id desc
        <if test="page != null">
            limit #{page.offset} ,#{page.count}
        </if>
    </select>

    <select id="total" resultType="java.lang.Long">
        select count(id)
        from system_message_record
         where user_id = #{userId}
    </select>
    <select id="noReadTotal" resultType="java.lang.Long">
        select count(id)
        from system_message_record
        where user_id = #{userId} and if_read = 0
    </select>

    <select id="newest" resultType="com.yanhuada.model.SystemMessageRecord" parameterType="java.lang.Long">
        select * from system_message_record where user_id = #{userId} limit 1
    </select>
    <update id="setAllRead" parameterType="java.lang.Long">
        update system_message_record set if_read = 1 where if_read = 0
    </update>
</mapper>
