<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanhuada.client.dao.ClientCircleMapper">
   <select id="hotList" resultType="com.yanhuada.model.Circle">
       select *
       from circle
       where if_enable = 1
       order by user_num desc
       limit 6
   </select>

</mapper>
